<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<springProperty name="logging.pattern.console" source="logging.pattern.console"/>

	<springProperty name="log4j.siga.web.file" source="log4j.siga.web.file"/>
	<springProperty name="log4j.siga.web.path" source="log4j.siga.web.path"/>
	<springProperty name="log4j.siga.web.bck.number" source="log4j.siga.web.bck.number"/>
	<springProperty name="log4j.siga.web.max.size" source="log4j.siga.web.max.size"/>
	<springProperty name="log4j.siga.web.nivel" source="log4j.siga.web.nivel"/>

	<appender name="FILE_SIGA_GENERAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log4j.siga.web.file}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${log4j.siga.web.path}.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>${log4j.siga.web.bck.number}</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      		<maxFileSize>50MB</maxFileSize>
    	</triggeringPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				${logging.pattern.console}
			</Pattern>
		</encoder>
	</appender>

	<logger name="org.itcgae.siga" level="${log4j.siga.web.nivel}" additivity="false">
		<appender-ref ref="FILE_SIGA_GENERAL" />
	</logger>
	
	<root level="ERROR">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>