*.project
*.classpath
*.settings
siga-web/target/
siga-core/target/
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/4142557181.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3946702052.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2648772482.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2294435397.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1554852621.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1206767158.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.common.modulecore/dependencyCache.index
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.mylyn.trac.core/repositoryConfigurations
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.jdt/siga-web.container
.metadata/.plugins/org.eclipse.m2e.jdt/siga-parent.container
.metadata/.plugins/org.eclipse.m2e.jdt/siga-core.container
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core/siga-web.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/siga-parent.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/siga-core.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/segments_7
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/_2_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/df36c6828aeeaab1039447a24828e456/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_9
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_7.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_6.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/1cfa9e8157fb2a1ce8c8a083f55f1326/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/1cfa9e8157fb2a1ce8c8a083f55f1326/segments_3
.metadata/.plugins/org.eclipse.m2e.core/nexus/1cfa9e8157fb2a1ce8c8a083f55f1326/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/1cfa9e8157fb2a1ce8c8a083f55f1326/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/1cfa9e8157fb2a1ce8c8a083f55f1326/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/1cfa9e8157fb2a1ce8c8a083f55f1326/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/0a497f82aa594b35126c59a429046cbf/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/0a497f82aa594b35126c59a429046cbf/segments_3
.metadata/.plugins/org.eclipse.m2e.core/nexus/0a497f82aa594b35126c59a429046cbf/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/0a497f82aa594b35126c59a429046cbf/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/0a497f82aa594b35126c59a429046cbf/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/0a497f82aa594b35126c59a429046cbf/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/3087619394.dat
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/1206767158.dat
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/999147424.index
.metadata/.plugins/org.eclipse.jdt.core/991891346.index
.metadata/.plugins/org.eclipse.jdt.core/938977149.index
.metadata/.plugins/org.eclipse.jdt.core/928378775.index
.metadata/.plugins/org.eclipse.jdt.core/904883292.index
.metadata/.plugins/org.eclipse.jdt.core/885285395.index
.metadata/.plugins/org.eclipse.jdt.core/863918739.index
.metadata/.plugins/org.eclipse.jdt.core/836007393.index
.metadata/.plugins/org.eclipse.jdt.core/781905052.index
.metadata/.plugins/org.eclipse.jdt.core/736708385.index
.metadata/.plugins/org.eclipse.jdt.core/719772458.index
.metadata/.plugins/org.eclipse.jdt.core/713694556.index
.metadata/.plugins/org.eclipse.jdt.core/67019964.index
.metadata/.plugins/org.eclipse.jdt.core/646354844.index
.metadata/.plugins/org.eclipse.jdt.core/613462119.index
.metadata/.plugins/org.eclipse.jdt.core/594739575.index
.metadata/.plugins/org.eclipse.jdt.core/572085775.index
.metadata/.plugins/org.eclipse.jdt.core/546563690.index
.metadata/.plugins/org.eclipse.jdt.core/506952083.index
.metadata/.plugins/org.eclipse.jdt.core/495123505.index
.metadata/.plugins/org.eclipse.jdt.core/470334761.index
.metadata/.plugins/org.eclipse.jdt.core/4274707237.index
.metadata/.plugins/org.eclipse.jdt.core/4245543970.index
.metadata/.plugins/org.eclipse.jdt.core/4241031594.index
.metadata/.plugins/org.eclipse.jdt.core/4225291151.index
.metadata/.plugins/org.eclipse.jdt.core/4201571038.index
.metadata/.plugins/org.eclipse.jdt.core/4093392786.index
.metadata/.plugins/org.eclipse.jdt.core/408110248.index
.metadata/.plugins/org.eclipse.jdt.core/4073357117.index
.metadata/.plugins/org.eclipse.jdt.core/4065660640.index
.metadata/.plugins/org.eclipse.jdt.core/4019076131.index
.metadata/.plugins/org.eclipse.jdt.core/396029924.index
.metadata/.plugins/org.eclipse.jdt.core/393218277.index
.metadata/.plugins/org.eclipse.jdt.core/3925850957.index
.metadata/.plugins/org.eclipse.jdt.core/3899698806.index
.metadata/.plugins/org.eclipse.jdt.core/3844696736.index
.metadata/.plugins/org.eclipse.jdt.core/3828061352.index
.metadata/.plugins/org.eclipse.jdt.core/3823594258.index
.metadata/version.ini
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.jdt.core/3710163916.index
.metadata/.plugins/org.eclipse.jdt.core/3647897411.index
.metadata/.plugins/org.eclipse.jdt.core/3643122110.index
.metadata/.plugins/org.eclipse.jdt.core/3513352069.index
.metadata/.plugins/org.eclipse.jdt.core/3486676402.index
.metadata/.plugins/org.eclipse.jdt.core/3478203430.index
.metadata/.plugins/org.eclipse.jdt.core/3376233093.index
.metadata/.plugins/org.eclipse.jdt.core/3319247208.index
.metadata/.plugins/org.eclipse.jdt.core/3310999813.index
.metadata/.plugins/org.eclipse.jdt.core/3249271204.index
.metadata/.plugins/org.eclipse.jdt.core/3214593315.index
.metadata/.plugins/org.eclipse.jdt.core/3087619394.index
.metadata/.plugins/org.eclipse.jdt.core/3052310960.index
.metadata/.plugins/org.eclipse.jdt.core/3040592486.index
.metadata/.plugins/org.eclipse.jdt.core/3021769881.index
.metadata/.plugins/org.eclipse.jdt.core/3001961949.index
.metadata/.plugins/org.eclipse.jdt.core/2945615068.index
.metadata/.plugins/org.eclipse.jdt.core/2908992421.index
.metadata/.plugins/org.eclipse.jdt.core/2908318459.index
.metadata/.plugins/org.eclipse.jdt.core/2875993568.index
.metadata/.plugins/org.eclipse.jdt.core/2863289193.index
.metadata/.plugins/org.eclipse.jdt.core/2860914142.index
.metadata/.plugins/org.eclipse.jdt.core/28520522.index
.metadata/.plugins/org.eclipse.jdt.core/2709445462.index
.metadata/.plugins/org.eclipse.jdt.core/2679283409.index
.metadata/.plugins/org.eclipse.jdt.core/2675340620.index
.metadata/.plugins/org.eclipse.jdt.core/2647956617.index
.metadata/.plugins/org.eclipse.jdt.core/2569199889.index
.metadata/.plugins/org.eclipse.jdt.core/2475200389.index
.metadata/.plugins/org.eclipse.jdt.core/2441585233.index
.metadata/.plugins/org.eclipse.jdt.core/2437486298.index
.metadata/.plugins/org.eclipse.jdt.core/2412238749.index
.metadata/.plugins/org.eclipse.jdt.core/2400643162.index
.metadata/.plugins/org.eclipse.jdt.core/2386441566.index
.metadata/.plugins/org.eclipse.jdt.core/2240103740.index
.metadata/.plugins/org.eclipse.jdt.core/2183429498.index
.metadata/.plugins/org.eclipse.jdt.core/2178438400.index
.metadata/.plugins/org.eclipse.jdt.core/2047738083.index
.metadata/.plugins/org.eclipse.jdt.core/1988654485.index
.metadata/.plugins/org.eclipse.jdt.core/1967431833.index
.metadata/.plugins/org.eclipse.jdt.core/1921138637.index
.metadata/.plugins/org.eclipse.jdt.core/1903183663.index
.metadata/.plugins/org.eclipse.jdt.core/1885488549.index
.metadata/.plugins/org.eclipse.jdt.core/1828873763.index
.metadata/.plugins/org.eclipse.jdt.core/1716621324.index
.metadata/.plugins/org.eclipse.jdt.core/169738382.index
.metadata/.plugins/org.eclipse.jdt.core/1680101985.index
.metadata/.plugins/org.eclipse.jdt.core/1650199910.index
.metadata/.plugins/org.eclipse.jdt.core/1634347608.index
.metadata/.plugins/org.eclipse.jdt.core/1473612751.index
.metadata/.plugins/org.eclipse.jdt.core/1459668434.index
.metadata/.plugins/org.eclipse.jdt.core/1458514395.index
.metadata/.plugins/org.eclipse.jdt.core/1382756086.index
.metadata/.plugins/org.eclipse.jdt.core/1354543404.index
.metadata/.plugins/org.eclipse.jdt.core/1316082728.index
.metadata/.plugins/org.eclipse.jdt.core/1310690426.index
.metadata/.plugins/org.eclipse.jdt.core/1299497910.index
.metadata/.plugins/org.eclipse.jdt.core/1283112708.index
.metadata/.plugins/org.eclipse.jdt.core/1280451415.index
.metadata/.plugins/org.eclipse.jdt.core/127736016.index
.metadata/.plugins/org.eclipse.jdt.core/1266710472.index
.metadata/.plugins/org.eclipse.jdt.core/1206767158.index
.metadata/.plugins/org.eclipse.jdt.core/1098603511.index
.metadata/.plugins/org.eclipse.jdt.core/1030437588.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.safetable/oracle.eclipse.tools.common.services.2
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-web/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-web/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-web/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-web/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-web/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-web/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-parent/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-parent/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-core/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-core/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-core/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-core/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-core/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-core/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/siga-core/.indexes/7/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.history/f8/61f44fc84e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/f5/e0c238c84e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/ee/d04137a14e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/ed/70d86fc84e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/e9/62f44fc84e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/e7/314a9db94e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/e2/504596b94e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/db/00a5cdc74e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/c7/821faea14e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/c6/917724c84e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/a0/304a9db94e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/9f/d09b92b94e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/9f/60f44fc84e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/81/01a5cdc74e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/6e/c0c799b94e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/68/00284ac84e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/62/6071d3c74e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/5b/502a85c74e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/58/a0d8c7c74e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/5/811faea14e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/5/6171d3c74e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/4d/308bd0c74e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/45/f0a658c84e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/40/e08d1ca14e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/37/801faea14e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/22/d0becac74e37001811f9aa2a393d706c
.metadata/.plugins/org.eclipse.core.resources/.history/1b/907724c84e37001811f9aa2a393d706c
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-web/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-web/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-web/2.variable.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-web/2.locale_jsp_2.2.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-web/2.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-web/2.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-parent/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-parent/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-parent/2.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-parent/2.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-core/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-core/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-core/2.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/siga-core/2.artifact.sjo
.metadata/.mylyn/repositories.xml.zip
.metadata/.log
.metadata/.lock
*rebel.xml
/.metadata/
.sonarlint/default/.sonartmp_7838495048958420846/sonarlint-slf4j-sonar-log333444884279974939.jar
.sonarlint/modules/siga-web/issues/index.pb
.sonarlint/modules/siga-web/issues/f/8/f8625f2905945a10c43257e6e9310847739b2ab5
.sonarlint/modules/siga-web/issues/7/2/721cd7dfffeb8ae9ee12a5f01396c7da2b0ce11f
.sonarlint/modules/siga-web/issues/4/c/4c69d9f7c91954ab9becb1e6d4f056e594c6acc5
.sonarlint/modules/siga-core/issues/index.pb
.sonarlint/modules/siga-core/issues/3/d/3d897cec8918cb79a3b939a8c43c574255d0331c
.sonarlint/modules/siga-core/issues/2/7/277345f460b52a816a2a0b62a3639a5ce2c1f28d
.sonarlint/default/.sonartmp_8404124396034757435/sonarlint-slf4j-sonar-log5015092575972127445.jar
.sonarlint/default/.sonartmp_19876679474291119/sonarlint-slf4j-sonar-log2107171965741261339.jar
.sonarlint/modules/siga-core/issues/b/a/ba8a4c0fbbbe4da7854640c7637be27eb24a63aa
.sonarlint/modules/siga-core/issues/a/e/aef5a9901b2fd83a966dda3a5bc519e539ed44b9
.sonarlint/modules/siga-core/issues/8/a/8a4adc4325ca41c717b79951963506654c4019f7
.sonarlint/default/.sonartmp_894246037603637028/sonarlint-slf4j-sonar-log7858517115907461621.jar
.sonarlint/default/.sonartmp_4754965096649163948/sonarlint-slf4j-sonar-log714933638343291100.jar
.sonarlint/
siga-web/.sts4-cache/
siga-core/.sts4-cache/classpath-data.json
